@font-face {
    font-family: 'Roboto';
    src: url('/public/Roboto-Medium.ttf');
}

* {
    box-sizing: border-box;
    background-color: #dffdfb00;
    font-family: 'Roboto';

}
body{
    background-color: #dffdfb;
    background-image: url("https://www.transparenttextures.com/patterns/bright-squares.png");
}
#history {
    font-size: 1.2rem;
    padding: 1rem;
}
.title1{
}
h1{
    text-align: center;
}
h4{
    font-family: sans-serif;
    margin-left: 16px;
}


#file-list, #dir-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: 51px;
    grid-gap: 1rem;
}
#file-head,#dir-head{

}
.list-item {
    list-style: none;
    display:flex;
    background-color:#fffa;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-overflow: ellipsis ellipsis;
    overflow: hidden;
    border-radius: 10px;
    border: 2px grey solid;
}
.icons{
    padding: 4px;
    background-color: #fff0;
}
.link {
    margin: 0;
    white-space: nowrap;
    text-overflow: ellipsis ellipsis;
    overflow: hidden;
    background-color: #fff0;
    height: 100%;
    width: 100%;
    text-align: left;
    padding: 12px 0.5rem 0.5rem;
    text-decoration: none;
    font-family: "Roboto Light", sans-serif;
    color: black;
}
.folder{
    margin-left: 5px;
}
.button {
    border: none;
    text-decoration: none;
    color: black;
    padding: 5px;
    margin-bottom: 0.5rem;
}
.button1{
    border:1px #8f8f9d solid;
    text-decoration: none;
    border-radius: 0.3rem;
    color: black;
    padding:3px;
    margin-left: 5px;
    background-color: #e9e9ed;
}
.button1:hover{
    transform: scale(1.1);
}
h4{
    margin-top:50px;
    margin-left: 5px;
    margin-bottom:17px;
}